
body{
    font-family: Ubuntu;
    padding-top: 0px;
    margin-top: 0px;
}
.content .panel{
    border: 0;
}

.content-panel-heading{
    border-radius: 7px !important;
    border-bottom: 5px solid #1C4D78 !important;
    background-color: #2E65B2 !important;
}

.content .panel-body{
    background-color: #ecf0f1 !important;
    margin-left: 0.35em;
    margin-right: 0.5em;
    border: 2px solid #C7C7C7;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 5px solid #C7C7C7;
    border-top: 0;
}


.content span{
    font-size: 30px;
}

.jumbotron.Profile{
    background-color: white;
    border: 2px solid #e7e7e7;
    border-radius: 10px !important;
    border-bottom: 5px solid #919191;
    padding: 1em 2em;
}

.subPanelHeader{
    font-family: UbuntuBold;
    padding-left: 0.15em;
}

hr{
    border-color: #235396;
    border-width: 4px 0;
    margin-top: -0.25em;
}

ul.skill{
    margin: 0.75em 0;
    padding: 0 2em;
    list-style: none;
    font-size: 16px;
}

ul.skill li:before{
    content: "";
    border-color: transparent #B06804;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.contact-paragraph{
    font-size: 15px;
    font-weight: 500;
    background-color: white;
    padding: 0.5em 2em;
    border-radius: 8px;
    border: 2px solid #D9D9D9;
    text-align: center;
}

.contact-form{
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1.5em 1.5em;
    border-radius: 10px;
    border: 2px solid #D9D9D9;
    background-color: white;
}

.contact-form input.ng-invalid.ng-dirty{
    border: 1px solid red;
}

.contact-form button{
    margin-top: 1em;
}

span.form-error{
    padding-left: 0.5em;
    font-size: 14px;
    color:red;
}

.thanksMessage{
    text-align: center;
}