<div class="container">
    <div class="row">
        <div class="col-sm-6"><h1>Admin</h1></div>
        <div class="col-sm-6"><span class="pull-right"><br><button class="btn btn-danger" ng-click="logout()">Logout <i class="fa fa-sign-out"></i></button></span></div>
        <div class="col-sm-12"><hr></div>
        <div class="col-sm-8 col-sm-offset-2"><br/><a class="btn btn-info pull-right" ui-sref="newPost.code">Add Post <i class="fa fa-plus-circle"></i></a></div>
        <div class="col-sm-8 col-sm-offset-2">
            <div ng-show="!hasPosts">No Posts were found. Come back later, or add one now.</div>
            <div ng-show="hasPosts">
                <br/>
                <table class="table table-stripped table-bordered text-center">
                    <thead>
                        <th class="text-center col-sm-1">Id</th>
                        <th class="text-center col-sm-6">Title</th>
                        <th class="text-center col-sm-3">Date Created</th>
                        <th class="text-center col-sm-1">Edit</th>
                        <th class="text-center col-sm-1">Delete</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="post in posts | orderBy: '-created'" >
                            <td>{{post.id}}</td>
                            <td class="text-left">{{post.title}}</td>
                            <td>{{post.created}}</td>
                            <td><a class="btn btn-primary" ui-sref="edit.code({id: post.id})">Edit</a></td>
                            <td><button class="btn btn-danger" ng-click="deletePost(post.id)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>