<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4"></div>
        <div class="jumbotron Profile col-md-4 col-sm-4 text-center">
            <img src="res/img/profile.png" class="img-thumbnail img-circle center-block" width="200px" />
            <h2>Timothy Radder</h2>
        </div>
        <div class="col-md-4 col-sm-4"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="content">
            <div class="panel panel-primary col-sm-12">
                <div class="panel-heading content-panel-heading">
                    <span>Skills</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 ">
                            <h3 class="subPanelHeader">Web Development</h3>
                            <hr>
                            <ul class="skill">
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>JavaScript</li>
                                <li>AngularJS</li>
                                <li>PHP</li>
                                <li>MySQL</li>
                                <li>ASP.NET</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 ">
                            <h3 class="subPanelHeader">Application Development</h3>
                            <hr>
                            <ul class="skill">
                                <li>Java</li>
                                <li>C++</li>
                                <li>C#</li>
                                <li>HTML5</li>
                                <li>CreateJS</li>
                                <li>Android</li>
                                <li>PowerShell</li>
                                <li>Unity</li>
                                <li>VBScript</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <h3 class="subPanelHeader">Other</h3>
                            <hr>
                            <ul class="skill">
                                <li>Customer Support</li>
                                <li>Computer Repair</li>
                                <li>Technical Support</li>
                                <li>Printers</li>
                                <li>Troubleshooting</li>
                                <li>Photoshop</li>
                                <li>InkScape</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary col-sm-12">
                <div class="panel-heading content-panel-heading">
                    <span>Experience</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="subPanelHeader">Infinity Network Solutions Inc</h3>
                            <hr>
                            <ul class="no-bullets">
                                <li><strong>Date:</strong> January 2016 - Aprill 2016</li>
                                <li><strong>Title:</strong> Junior Programmer (Co-op)</li>
                                <li><p class="work-desc">Infinity Network Solutions Inc is a technical support company based out of Owen Sound, Ontario. They provide professional entiprise level technical support to 
                                    medium and large companies. They hired me for my final Co-op term to help them program internal sites and functionalites. It has been a great oppertunity for me to expand upon my 
                                    current skill sets as well as increase my awareness of how the computer industry functions. I have aquired a lot of new knowledge from Inifinity, such as using 3rd party API's, 
                                    Routing in AngularJS, as well as basic scripting in both VBScript and PowerShell. I thoroughly enjoyed my time there and feel that I have made a lot of friends in the team of which I was a part of.</p></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="subPanelHeader">Department of National Defense</h3>
                            <hr>
                            <ul class="no-bullets">
                                <li><strong>Date:</strong> September 2015 - December 2015</li>
                                <li><strong>Title:</strong> Technical Support Technician (Co-op)</li>
                                <li><p class="work-desc">I worked for the Department of National Defence for my Fall 2015 Co-op term. My main duties while there were to assist end users with the various problems they may have been encountering. This could range from not being able to log into their account to not being able to print on a specific printer. I learned a lot from this experience and feel that I left with a lot of knowledge about how largter organizations handle their technical support. I also was able to work a bit on the new user Assyst Web Portal that was being deployed at CFB Borden. With this I learned how to use some of the features of WET 3.0 (Web Experience Toolkit). I enjoyed learning new things and working with the people there.</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="subPanelHeader">P &amp; J Networking Solutions Inc</h3>
                            <hr>
                            <ul class="no-bullets">
                                <li><strong>Date:</strong> September 2014 - September 2015</li>
                                <li><strong>Title:</strong> Technical Support Technician</li>
                                <li><p class="work-desc">At P &amp; J Networking Solutions, I provide technical support to customers. We provided support to the public as well to business customers. My main duties while I was there was to accept new customers, diagnose the potential problems, give them an estimate, and then fix the machine once the parts or software was avaliable, if needed. I started off as a Co-op student for my Fall 2014 term, but when that was completed, I was asked to stay. During that time, I worked on a few websites for clients. I set up PayPal subscriptions, mobile websites, and I also started on a Photo Gallery which ended up getting cancelled. I learned a lot about computer repair, as well Web Development. I had a lot of fun working as a member of the team there.</p></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="subPanelHeader">Tim Hortons</h3>
                            <hr>
                            <ul class="no-bullets">
                                <li><strong>Date:</strong> August 2012 - December 2015</li>
                                <li><strong>Title:</strong> Team Member/Baker</li>
                                <li><p class="work-desc">While working at Tim Hortons, I may not have gained any Computer skills or knowledge, but I did gain a lot of experience working with others. 
                                    I learned how to be a strong member of a team as well as how to help make a team more efficient. I gathered a lot of experience in customer service as well, and provide efficient and accurate service to our customers. I also tried my best to keep the morale of my fellow team members up, thus allowing the shift to pass by more smoothly.</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary col-sm-8">
                <div class="panel-heading content-panel-heading">
                    <span>Education</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="subPanelHeader"><br>Georgian College</h3>
                            <hr>
                            <span><strong>Computer Programming Analyst</strong><br>Advanced Diploma</span>
                            <span><strong>Deans List: </strong>
                                <ul class="awards">
                                    <li>Winter, 2013</li>
                                    <li>Summer, 2013</li>
                                </ul>
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="subPanelHeader">Bear Creek Secondary School</h3>
                            <hr>
                            <span><strong>Ontario Secondary School Diploma</strong></span>
                            <span><strong>Honor Roll: </strong>
                                <ul class="awards">
                                    <li>2008 - 2009</li>
                                    <li>2009 - 2010</li>
                                    <li>2010 - 2011</li>
                                    <li>2011 - 2012</li>
                                </ul>
                            </span>
                            <span><strong>Honors: </strong>
                                <ul class="awards">
                                    <li>Computer Engineering (2011 - 2012)</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary col-sm-4">
                <div class="panel-heading content-panel-heading">
                    <span>Hobbies &amp; Interests</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div>
                            <h3 class="subPanelHeader interest-title">Hobbies</h3>
                            <hr>
                            <span class="interests">
                                <ul class="awards">
                                    <li>3D Printing</li>
                                    <li>Game Development</li>
                                    <li>Fishing</li>
                                    <li>Kayaking</li>
                                    <li>Camping</li>
                                    <li>Gaming</li>
                                </ul>
                            </span>
                            <br>
                            <h3 class="subPanelHeader  interest-title">Interests</h3>
                            <hr>
                            <span class="interests">
                                <ul class="awards">
                                    <li>Virtual Reality</li>
                                    <li>Augmented Reality</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>