<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4"></div>
        <div class="jumbotron Profile col-md-4 col-sm-4 text-center">
            <img src="res/img/profile.png" class="img-thumbnail img-circle center-block" width="200px" />
            <h2>Timothy Radder</h2>
        </div>
        <div class="col-md-4 col-sm-4"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="content">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span>Skills</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 ">
                            <h3 class="subPanelHeader">Web Development</h3>
                            <hr>
                            <ul class="skill">
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>JavaScript</li>
                                <li>AngularJS</li>
                                <li>PHP</li>
                                <li>MySQL</li>
                                <li>ASP.NET</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 ">
                            <h3 class="subPanelHeader">Application Development</h3>
                            <hr>
                            <ul class="skill">
                                <li>Java</li>
                                <li>C++</li>
                                <li>C#</li>
                                <li>HTML5</li>
                                <li>CreateJS</li>
                                <li>Android</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <h3 class="subPanelHeader">Other</h3>
                            <hr>
                            <ul class="skill">
                                <li>Customer Support</li>
                                <li>Computer Repair</li>
                                <li>Technical Support</li>
                                <li>Printers</li>
                                <li>Troubleshooting</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>